
.body{
    
      font-family: 'Archivo Black', sans-serif;


}
h2{
     padding-top: 5%; 
     padding-bottom: 8%;
}

.link-button{
      text-decoration: none;
      background-image: linear-gradient(tomato,salmon) ;
      padding: 5% 5%;
      padding-top: 2%;
      padding-bottom: 2%;
      border-radius: 50px;
      color:white;
      font-size: 50px;
}

.sec-one{
      
      
        display: flex;
        margin-bottom: 200px;
        margin-top: 100px;
        padding-top: 5%;
}


.meat-color{
      color: darkgoldenrod;
}



.div-sec-one{
      font-family: 'Archivo Black', sans-serif;

         width: 100%;
         padding-left: 7%;

         
}


.company-heading{
      
font-size: 80px;
padding-right: 20%;
margin-left: 10px;
color: rgb(99, 93, 93);

}



.sec-one-div-two-img{
      width: 50%;
      padding-right: 10%;

}



.sec-two{
      display: flex;
      width: 50%;
padding-left: 10%;
width: 50%;
margin-bottom: 200px;


}


.about-us{
     
      padding-top: 10%;
      width: 50%;
}
.about-us-color{
      font-size: 30px;
      color: grey;
}
.about-us-dicribe{
      padding-bottom: 10%;
}

.our-recipi{
      font-size: 40px;
      text-align: center;
}
.sec-three-div-body{

     
      width: 0%;
      display: flex;


}





.div-sec-two{
     
}
      



.sec-three{
      padding-left: 30%;
      text-align: center;
      margin-bottom: 200px;
      
}

.sec-four{
      display: flex;
      border-radius: 40;
      width: 30%;
      margin-bottom: 200px;

}
.sec-four-div-0ne{
      
      padding-top: 10%;
      padding-left: 10%;
      
}


.sec-four-div-two{
   
      padding-top: 10%;
      
      
}


.sec-four-div-three{
      
      padding-top: 10%;
      
     
}
.sec-five{
      display: flex;


      text-align: center;
      margin-bottom: 200px;

}

.social{
      text-align: center;
      display: flex;
     
}
.youtube{
     
      padding-right: 30%;
      padding-left: 30%;
      font-size: 100px;
}
.facebook{
      padding-right: 20%;
      font-size: 100px;
}

.linkdin{
      font-size: 100px;
}
.sec-six{
    
      margin-bottom: 200px;
}




.half-width{
      width: 50%;
      padding-right: 20%;
}

.last-footer{
     
      text-align: center;
      background-color: black;
      
     
}

.footer-h{
padding-top: 20px;
      font-size: 50px;
      text-align: center;
      color: rgb(117, 116, 110);
}

.footer-pera{
      padding-bottom: 30px;
      font-size: 30px;
      text-align: center;
      color: rgb(201, 200, 195);
}

.footer-span{
      padding-bottom: 50px;
      color: rgb(218, 145, 36);
}

.img-one{
      padding-right: 20%;
}