.sec-one{
        display: flex;
        margin-bottom: 200px;
        margin-top: 100px;
        padding-top: 5%;
}

.div-sec-one{

         width: 50%;
         padding-left: 7%;
         
}


.company-heading{
font-size: 100px;

}

.company-heading{

}

.sec-one-div-two-img{
      padding-right: 10%;

}

.link-button{

}